{% import "macros.html" as macros with context %}

<h1 class="govuk-heading-l">Add, view and manage energy suppliers</h1>
<p class="govuk-body">Add, view and manage energy suppliers who can access and download customer leads.</p>
<a class="govuk-button" href="{{url('portal:add-supplier')}}">Add a new energy supplier</a>

<table class="govuk-table">
  <thead class="govuk-table__head gbis-no-border">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Energy supplier</th>
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">No. of team leads</th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for supplier in data.suppliers %}
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{{supplier.name}}</th>
      <td class="govuk-table__cell">
        {% if supplier.is_disabled %}
        <strong class="govuk-tag govuk-tag--red">
          Disabled
        </strong>
        {% else %}
        <strong class="govuk-tag govuk-tag--green">
          Enabled
        </strong>
        {% endif %}
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{supplier.get_team_leader_count()}}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        <div class="govuk-button-group govuk-!-display-block">
          <a href="{{url('portal:supplier-team-leads', supplier.id)}}" class="govuk-link">View<span class="govuk-visually-hidden"> energy supplier details</span></a>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<h1 class="govuk-heading-l">Download feedback</h1>
<p class="govuk-body">Download user feedback in CSV format.</p>
<a href="{{url('portal:feedback-download')}}" class="govuk-button">Download</a>

<h1 class="govuk-heading-l">Download referrals from the last week</h1>
<p class="govuk-body">Download referrals from the last week as an Excel spreadsheet.</p>
<a href="{{url('portal:referrals-last-week-download')}}" class="govuk-button">Download</a>

<form method="POST" novalidate>
  {{csrf_input}}
  <h1 class="govuk-heading-l">Download referrals from date range</h1>
  <p class="govuk-body">Download referrals from a specific date range as an Excel spreadsheet.</p>
  
  <div class="govuk-grid-row">
    {{macros.date_input("from", "From", errors)}}
    {{macros.date_input("to", "To", errors)}}
  </div>
  
  <button class="govuk-button" data-module="govuk-button" type="submit">Download</button>
</form>