{% extends "frontdoor/base.html" %}

{% block title %}
  <title>{{_("View accessibility statement - Check eligibility for Great British Insulation Scheme - GOV.UK")}}</title>
{% endblock %}

{% block content %}
  <a href="{% if previous_path %}{{ previous_path }}{% else %}{{url('frontdoor:homepage')}}{% endif %}" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{_("Accessibility Statement")}}</h1>
      <p class="govuk-body">{{_("This accessibility statement applies to Great British Insulation Scheme.")}}</p>
    <p class="govuk-body">
        {{_("This website is run by Department for Energy Security and Net Zero (DESNZ). We want as many people as possible to be able to use this website. For example, that means you should be able to:")}}
    </p>
     <ul class="govuk-list govuk-list--bullet">
            <li>{{_("change colours, contrast levels and fonts")}}</li>
            <li>{{_("zoom in up to 300% without the text spilling off the screen")}}</li>
            <li>{{_("navigate most of the website using just a keyboard")}}</li>
            <li>{{_("navigate most of the website using speech recognition software")}}</li>
            <li>{{_("listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)")}}</li>
     </ul>
        <p class="govuk-body">
            {{_("We’ve also made the website text as simple as possible to understand.")}}
        </p>
        <p class="govuk-body">
            <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/" target="_blank">AbilityNet</a> has advice on making your device easier to use if you have a disability.
        </p>
            <h2 class="govuk-heading-l">
            {{_("How accessible this website is")}}
        </h2>
        <p class="govuk-body">
            {{_("This website is fully accessible.")}}
        </p>

             <h2 class="govuk-heading-l">
            {{_("Feedback and contact information")}}
        </h2>
        <p class="govuk-body">
            {{_("If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:")}}
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>{{_("call")}} 0800 098 7950</li>
            <li>{{_("We’ll consider your request and get back to you in 10 working days.")}}</li>
     </ul>

        <h2 class="govuk-heading-l">
            {{_("Reporting accessibility problems with this website")}}
        </h2>
        <p class="govuk-body">
            {{_("We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact:")}}
             0800 098 7950
        </p>

         <h2 class="govuk-heading-l">
            {{_("Enforcement procedure")}}
        </h2>
        <p class="govuk-body">
            {{_("The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint,")}}
            <a class="govuk-link" href="https://www.equalityadvisoryservice.com/" target="_blank">{{_("contact the Equality Advisory and Support Service (EASS)")}}</a>.
        </p>

        <h2 class="govuk-heading-l">
            {{_("Contacting us by phone or visiting us in person")}}
        </h2>
        <p class="govuk-body">
           {{_("We provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment.")}}
        </p>

        <p class="govuk-body">
           {{_("Our offices have audio induction loops, or if you contact us before your visit we can arrange a British Sign Language (BSL) interpreter.")}}
        </p>

        <p class="govuk-body">
           {{_("Find out how to contact us")}} https://www.gov.uk/guidance/contact-desnz
        </p>

          <h2 class="govuk-heading-l">
            {{_("Technical information about this website’s accessibility")}}
        </h2>
          <p class="govuk-body">
            {{_("BEIS is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.")}}
        </p>
         <h3 class="govuk-heading-m">
            {{_("Compliance status")}}
        </h3>
        <p class="govuk-body">
            {{_("This website is compliant with the")}}
            <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/" target="_blank">{{_("Web Content Accessibility Guidelines version 2.1 AA standard")}}</a>.
        </p>
         <h2 class="govuk-heading-l">
            {{_("Preparation of this accessibility statement")}}
        </h2>
        <p class="govuk-body">
            {{_("This statement was prepared on 19 July 2023. It was last reviewed on 25 July 2023.")}}
        </p>
        <p class="govuk-body">
           {{_("This website was last tested on 25 July 2023. The test was carried out by Zoonou.")}}
        </p>
         <p class="govuk-body">
           {{_("Zoonou used")}} <a class="govuk-link" href="https://www.w3.org/TR/WCAG-EM/" target="_blank">WCAG-EM</a> {{_("to define the pages tested and test approach.")}}
        </p>
    </div>
  </div>
{% endblock %}
