{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block title %}
<title>{{_("What is the property address? - Check eligibility for Great British Insulation Scheme - GOV.UK")}}</title>
{% endblock %}

{% block content %}
{% call macros.form_wrapper(prev_url) -%}
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-heading-l">
      {{_("What is the property's address?")}}
    </h1>
    <p class="govuk-body">{{_("We use this information to search for an Energy Performance Certificate that matches your address.")}}</p>

  </legend>

      {% set building_name_or_number_label = _("Building name or number") %}
      {{macros.input('building_name_or_number', building_name_or_number_label, data, errors)}}
      
      {% set postcode_label = _("Postcode") %}
      {{macros.input('postcode', postcode_label, data, errors, 'postal-code')}}

  {%- endcall %}

  <a href="{{url('frontdoor:page', session_id=session_id, page_name='address-manual')}}" class="govuk-link">{{_("Enter address manually")}}</a>

  {% endblock %}