{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block title %}
<title>{{_("Enter the property address manually - Check eligibility for Great British Insulation Scheme - GOV.UK")}}</title>
{% endblock %}

{% block content %}
{% call macros.form_wrapper(prev_url) -%}
<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-heading-l">
      {{_("What is the property's address?")}}
    </h1>
  </legend>
  {% set address_line_1_label = _("Address line 1") %}
  {{macros.input('address_line_1', address_line_1_label, data, errors, 'address-line1')}}
  
  {% set address_line_2_label = _("Address line 2 (optional)") %}
  {{macros.input('address_line_2', address_line_2_label, data, errors, 'address-line2')}}

  {% set town_or_city_label = _("Town or city") %}
  {{macros.input('town_or_city', town_or_city_label, data, errors, 'address-level2')}}
  
  {% set county_label = _("County (optional)") %}
  {{macros.input('county', county_label, data, errors, 'county')}}

  {% set postcode_label = _("Postcode") %}
  {{macros.input('postcode', postcode_label, data, errors, 'postal-code')}}
</fieldset>
{%- endcall %}
{% endblock %}