{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block title %}
  <title>{{_("Select the property address - Check eligibility for Great British Insulation Scheme - GOV.UK")}}</title>
{% endblock %}

{% block content %}
  {% call macros.form_wrapper(prev_url) -%}
    <div class="govuk-form-group {% if errors %}govuk-form-group--error{% endif %}">
      <fieldset class="govuk-fieldset"{% if errors %} aria-describedby="question-uprn-error" {% endif %}>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            {{_("Select your address")}}
          </h1>
        </legend>
      
        {% if not uprn_options %}
          <p class="govuk-body">{{_("No addresses found")}}</p>
        {% endif %}

        {{macros.radios('uprn', uprn_options, data, errors, fallback_option)}}

        {% if show_epc_update_details %}
          <br>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                {{_("What if I have had a new EPC issued recently?") }}
              </span>
            </summary>
            <div class="govuk-details__text">
              {{_("If your property has had a new EPC issued since 1 %(current_month)s, we may not be able to find it in our database because it is only updated monthly. Please return to this service after 1 %(next_month)s when we expect the database to have been updated.") % { "current_month": current_month, "next_month": next_month }}}
              <br>
              {{_("You can continue without your EPC having been found by this service, but the energy supplier you have selected may not be able to help if they do not have your new EPC.")}}
            </div>
          </details>
        {% endif %}
      </fieldset>
    </div>
  {% endcall %}
{% endblock %}
