{% extends "frontdoor/base.html" %}

{% block title %}
  <title>{{_("Applications closed - Check eligibility for Great British Insulation Scheme - GOV.UK")}}</title>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="{{prev_url}}" class="govuk-back-link">{{_("Back")}}</a>
    <h1 class="govuk-heading-l">{{_("Utility Warehouse are not taking referrals just now")}}</h1>
    <p class="govuk-body">{{_('You are not able to apply to Utility Warehouse using this service just now but if you email your name and Utility Warehouse account number to <a href="mailto:gbis@uw.co.uk" class="govuk-link govuk-link--no-visited-state">gbis@uw.co.uk</a> you will be notified as soon as the referral process is open. ') | safe}}</p>
    <p class="govuk-body">{{_("If you are a home owner in England and Wales, ")}}
      <a href="https://www.gov.uk/improve-energy-efficiency" target="_blank" rel="noopener noreferrer"  class="govuk-link">
        {{_("you can find other ways to save energy using the find ways to save energy service (opens in a new tab)")}}
      </a>
    </p>
  </div>
</div>
{% endblock %}
