{% extends "frontdoor/base.html" %}
{% import "macros.html" as macros with context %}

{% block title %}
  <title>{{_("Does your loft have insulation? - Check eligibility for Great British Insulation Scheme - GOV.UK")}}</title>
{% endblock %}

{% block content %}
  {% call macros.form_wrapper(prev_url) -%}
    <div class="govuk-form-group {% if errors %}govuk-form-group--error{% endif %}">
      <fieldset class="govuk-fieldset" {% if errors %} aria-describedby="question-loft_insulation-error" {% endif %}>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            {{_("How much loft insulation do you have?")}}
          </h1>
        </legend>
        <p class="govuk-body">
          {{_("A loft is fully insulated if it has 270 mm (about 10-11 inches) of insulation covering the whole loft, usually laid on the 'floor' of the loft with one layer between the horizontal timber joists and another layer going across them to bring the insulation up to the required level.")}}
        </p>
        <p class="govuk-body">
          {{_("A loft with less than 100 mm of insulation could benefit from additional insulation.")}}
        </p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              {{_("Help me answer this question")}}
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">
              {{_("If your home was built after 2002, or you have installed loft insulation since 2002, it is likely that it is fully insulated.")}}
            </p>
            <p class="govuk-body">
              {{_("If you have insulation above the level of the joist it is likely to be more than 100 mm thick already.")}}
            </p>
          </div>
        </details>

        {{macros.radios('loft_insulation', loft_insulation_options, data, errors)}}

      </fieldset>
    </div>
  {%- endcall %}
{% endblock %}
