{% extends "frontdoor/base.html" %}

{% block title %}
  <title>Sorry, there is a problem with this service - Check eligibility for Great British Insulation Scheme - GOV.UK</title>
{% endblock %}

<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Sorry, there is a problem with this service
    </h1>
  </legend>

<p class="govuk-body">Try again later.</p>
<p class="govuk-body">You will not be able to apply to the Great British Insulation Scheme until the service is available.</p>
<p class="govuk-body">If you already started an application, your answers have not been saved and you will have to start again when the service is available.</p>